#root{
  height: 100%;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  --tw-bg-opacity: 1;
  background-color: rgb(239 246 255 / var(--tw-bg-opacity));
  background-repeat: no-repeat;
  background-size: cover;
}

#modal{
  height: 100%;
  width: 100%;
}

.myNavbar{
  position: fixed;
  color: white;
  display: flex;
  justify-content:space-between;
  width: calc(100vw - 40px);
  display: flex;
  align-items: center;
}
*{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

svg:hover{
  cursor: pointer;
}

@keyframes sidebar{
  0%{
    transform: translateX(-15rem);
  }
  100%{
    transform: translateX(0);
    }
}

aside{
  animation: sidebar 0.2s ease-out;
}

img.HomePage-photo{
  background: black;
  border-radius: 20px;
  width: 15em;
  height: 15em;
}

.brand-name{
  font-family: "Dancing Script", "cursive";
  color: white;
}

.HomePage-title{
  font-size: 2rem;
  color: white;
  font-weight: 400;
}

.navbar-logo{
  font-family: "Dancing Script", "cursive";
}




